html {
  background-image: url(background.png);
  background-size:  cover;
  background-repeat: no-repeat;
}

body {
  height: 100%;
  margin: 0px;
  display: flex;
  padding: 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

.main {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 32px;
  background: #CAEFFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.titles p {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.subtitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.copy {
  font-size: 15px;
}

.subtitile {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.copy {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button {
  display: flex;
  padding: 18px 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 32px;
  background: #7FD8FE;
}

.button p {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ps-main {
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 32px;
  background: #CAEFFF;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.ps-enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.ps-text {
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.ps-form {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  background: #A7E2FC;
}

#gennumberform {
  background: #A7E2FC;
  width: 100%;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.50);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.ps-button {
  display: flex;
  padding: 18px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  background: #7FD8FE;
}

.ps-link {
  align-self: stretch;
}

.button-text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.or-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}

.line {
  width: 5px;
  height: 414px;
  background: rgba(0, 0, 0, 0.50);
}

.or-text {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sub-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.sub-text {
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.mini-text {
  align-self: stretch;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.ps-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

#color {
  border-radius: 32px;
  background: rgba(194, 194, 194, 0.50);
}

#hid {
  display: none;
  font-size: 24px;
}

#mail + #hid.show {
  display: block;
}